<div class="navbar-spacer"></div>

<div class="container">
  <h3><%= @list.name.capitalize %></h3>

  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li>
        <strong><%= bookmark.movie.title %></strong><br>
        <em><%= bookmark.movie.overview %></em><br>
        Comment: <%= bookmark.comment %>
        <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </li>
    <% end %>
  </ul>

  <hr>

  <div class="form-container">
    <h4>Add a bookmark</h4>
    <%= render "bookmarks/form", list: @list, bookmark: @bookmark %>
  </div>

  <div class="back-link">
    <%= link_to(lists_path) do %>
      <i class="fa-solid fa-circle-left"></i> Back to index
    <% end %>
  </div>
</div>

<%# link_to "Add a bookmark", new_list_bookmark_path(@list) %>
